.button {
	background-color: #966fd6;
	color: #fff;
	margin: 8px;
	padding: 10px 20px;
	border: 1px solid #8f49a7;
	border-radius: 12px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #8f49a7;
}

.button:active {
	background-color: #7a3185;
}
